html,
body {
  height: 100%;
/*   text-align: center; */
  margin: 0 auto;
}

img {
  object-fit: cover !important;
  min-width: 100%;
}

.primary-image {
  height: 300px;
}

.images {
  height: 150px;
}